@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body{
    font-family: 'Roboto', sans-serif;
    background: url(../Img/Assets/bglogin.jpg) no-repeat center fixed ;
    background-size: cover;
}
h4{
    margin-bottom: 20px;
}
.main-section{
    margin: 0 auto;
    margin-top: 120px;
    padding: 0;
}
.modal-content{
    background-color: #fff;
    opacity: 0.85;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    padding: 0 18px;
}
.user-img{
    margin-top: -100px;
    margin-bottom: 50px;
}
.user-img img{
    width: 80px;
    height: 80px;
}
.form-group{
    margin-bottom: 25px;
}
.form-group input{
    height: 42px;
    border-radius: 7px;
    font-size: 18px;
    padding-left: 10px;
}
.checkbox-area{
    font-size: 15px;
}
button{
    width: 60%;
    margin: 13px 0 20px;
}

.btn{
    color: #fff;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 10px;
    /* border-bottom: 4px solid #219882; */
}
.btn:hover{
    background-color: #2980b9!important;
    border-bottom: 4px solid #2980b9!important;
}
.social{
    margin-left: 20%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}