@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.tabcolor{
    background-color: #95afc0;  
}
.headreview h1{
    font-family: 'Lobster', cursive;
}
.contenttt{
    background-color: rgb(236, 236, 236);
}
.contenttt .col-11 p{
    font-weight: normal;
}